# Python
*.pyc
*.pyo
__pycache__/
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/*  # Ignora el contenido de la carpeta data (puedes comentar esta línea si quieres trackear algunos archivos)

# Poetry
.venv
venv
dist
build
*.egg-info

# MLflow
mlruns/

# Docker
# (No es necesario ignorar nada específico de Docker en este caso)

# OS
.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
tmp/
temp/
*.log